<div class="card">
    <div class="cardbody">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ipsam praesentium eligendi eum qui illo cum minus beatae nihil voluptates porro debitis ad laborum excepturi quidem, obcaecati distinctio hic odio, enim modi. Magnam numquam et quidem est? Laboriosam, quidem explicabo.</p>
        
    </div>
</div>