<div class="jumbotron mx-auto">
    <h1 class="display-4">Mongo App Welcome!!</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis omnis dolorem cumque, laborum beatae voluptas, laudantium in inventore qui cupiditate deleniti corrupti quos architecto obcaecati, et doloribus. Voluptatibus, impedit porro!</p>
    <div class="d-grid gap-2 col-6 mx-auto">
    <a href="/users/signin" class="btn btn-primary btn-lg  w-50">Iniciar Sesion</a>
</div>
</div>
