<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MongoApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link fas fa-binoculars" href="/data">Consultar Registros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fas fa-edit" href="/data/add">Añadir Registros</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="/file_container/">Consultar Archivos</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link fas fa-sign-out-alt" href="/logout">Salir: {{user.email}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Usuario: {{user.email}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/data/profile">Cuenta</a></li>

            <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>