<div class="container p-4">
    <div class="card mx-auto" style="width: 35rem;">
        <div class="card-body">
            <h3 class="title" style="text-align:center"><strong>No se encontró la busqueda solicitada</strong></h3>
            <a href="/data/search" class="btn btn-primary w-100"><i
                    class="fas fa-arrow-left"></i> Regresar</a>
        </div>
    </div>