<hr>
<hr>
<hr>

<div class="container p-4">
        <div class="card mx-auto" style="width: 45rem;">
            <div class="card-body">
                <h3 class="title"><strong>No tienes permisos suficientes</strong></h3>
                <p>Inicia sesión o vuelve al inicio.</p>
                <a href="/users/signin" class="btn btn-success"><i class="far fa-user"></i> Iniciar Sesión</a>
                
                <a href="/" class="btn btn-primary" style="position: absolute; rigth: 0;"><i class="fas fa-arrow-left"></i> Home </a>
                

        </div>
    </div>