<div class="container">
    <header class="text-center">
        <h1>Bienvenido</h1>
    </header>
    <hr>
    <div class="container">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="fa fa-user">Local</span>
                        <p>
                            <strong>ID:</strong>{{user._id}}
                            <br>
                            <strong>email:</strong>{{user.email}}
                        </p>
                        <a href="/logout" class="btn btn-light w-100"> Logout</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>