<div class="container">
    <header class="text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-light"> Logout</a>
    </header>
    <hr>
    <div class="container">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <span class="fa fa-user">Local</span>
                        <p>
                            <strong>Tu ID:</strong>{{user._id}}
                            <br>
                            <strong>Tu email:</strong>{{user.email}}
                        </p>
                         <a href="/logout" class="btn btn-light"> Logout</a>
                    </h3>
                </div>
            </div>
        </div>
        
    </div>
</div>