<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Buscador ...</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, unde!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/">Home</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;"></div>
    <div class="col-md-12">
        <p>
        <form action="/search" method="GET" class="form-inline">
            <div class="form-group">
                <input type="text" name="buscar" placeholder="Introduce el NUC" class="col-md-4">
                <input type="submit" value="Buscar" class="btn btn-success">
            </div>
        </form>
        </p>
    </div>
</div>
</div>
<div class="row">
    <aside class="float-right">
        <div class="card" style="width: 20rem;">

        </div>
    </aside>