<!--<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card-md-4 text-center">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <img src="/img/logo.png" class="rounded-circle mx-auto d-block m-4 logo" >
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name:"email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Ingresar
                        </button>
                        <div>
                            <hr>
                        <a href="/users/signup" <span class="badge bg-info text-dark"></span>Registrate</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->

<div class="container">
    <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
            <div class="card-body">
                <h1 class="text-center">
                    <span class="fa fa-sign-in"></span>
                    Login
                </h1>
                <form action="/users/signin" method="POST">
                <div class="form-group">
                    <label for="email" class="fas fa-user">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" class="fas fa-key">Password</label>
                    <input type="password" name="password" id="password" class="form-control" >
                </div>
                <div>
                    <hr>
                <input type="submit" class="btn btn-dark btn-lg w-100" value="Enviar">
                </div>
                </form>
                <hr>
                <div class="text-center">
                    <p>Need a account? <a href="#"></a> </p>
                    <p>Consulta al administrador</p>
                    
                    <a href="/" >Volver a Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>